# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=myvet_db
DB_USER=postgres
DB_PASSWORD=postgres

# Server Configuration
PORT=3000

# I know this is an example but please don't delete it, neither of the two .env files I have in the project has the correct password, so don't worry about that, it's just an example so you know how to configure your own .env with your postgres connection data.
#This is important
#Please don't touch it