# Configuración de Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=myvet_db
DB_USER=postgres
DB_PASSWORD=postgres

# Configuración del Servidor
PORT=3000

# Yo se que es de example pero no me lo borren por favor, ninguno de los dos archivos .env que tengo en el proyecto tiene la contraseña correcta, asi que no se preocupen por eso, es solo un ejemplo para que sepan como configurar su propio .env con sus datos de conexion a postgres.
#Esto es importante 
#No lo toquen por favor